#inputbox{
    width: 50%;
    position: relative;
    left: 450px;
}
#addicon{
    position: relative;
    left: 390px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#edit{
    position: relative;
    left: 1400px;
    top: 33px;
}

#list{
    margin:10px;
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid grey;
    position: relative;
    left: 24%;
    border-radius: 50px;
}

#close{
    position: relative;
    left: 400px;
    top: 2px;
    cursor: pointer;
}